---
import CourseRow from '../CourseRow.astro';
import EventPillRow from '../EventPillRow.astro';
import Row from '../Row.astro';

export interface Props {
  event: TourEvent;
}

const { event } = Astro.props;

const date = new Date(event.created_at as string).toLocaleDateString('sv-SE', {
    month: 'short',
    day: 'numeric',
  });

  console.log(date);

---

<a href={`/events/${event.id}`}>
  <Row
    <h4>{date}</h4>
    <EventPillRow special={event.special} teamEvent={event.team_event} strokes={event.strokes} small />
  </Row>
  <CourseRow course={event.course} />
</a>
