---
import Avatar from '../Shared/Avatar.astro';

export interface Props {
  sorting: SortingType;
  item: LeaderboardItem;
}

const { item, sorting } = Astro.props;

let pointValue = '';
let pointText = '';
let summaryString = '';
let subSummaryString = '';
if (sorting === 'kr') {
  pointValue = `${item.totalFines <= 0 ? '' : '+'}${item.totalFines}`;
  pointText = 'kr';
  summaryString = `${item.fines} kr`;
  subSummaryString = ``;
  subSummaryString += ` | ${item.beers} öl`;
  subSummaryString += ` | ${item.ciders} cider`;
} else {
  pointValue = parseFloat(`${item.points}`).toFixed(0);
  pointText = '';
  const emptyPoints =
    item.points_array.length < 4 ? [...Array(4 - item.points_array.length)].map((_) => 0) : [];
  const emptySpecialPoints =
    item.special_array.length < 4 ? [...Array(2 - item.special_array.length)].map((_) => 0) : [];
  summaryString = `${[...item.points_array, ...emptyPoints].join(', ')} | ${[
    ...item.special_array,
    ...emptySpecialPoints,
  ].join(', ')}`;
  // subSummaryString = `| ${item.events}`;
}
---

<tr>
  <td>{item.rank}</td>
  <td>
    <div>
      <div>
        <!-- <Avatar
          uri={item.player?.avatar_url}
          seed={`${item.player?.id}_${item.player.full_name}`}
          size="smallmedium"
        /> -->
        <strong>{item.player?.full_name || 'N/A'}</strong>
      </div>
      <div>
        {summaryString}
        {subSummaryString}
      </div>
    </div>
  </td>
  <td>
    <strong>{pointValue}</strong>
    <span>{pointText}</span>
  </td>
</tr>
