---
import Layout from '../../layouts/2324.astro';
export interface Props {
  year: SeasonYear;
}
const { year } = Astro.props;


import { getFinalLeaderboard } from '../../utils/2324/getFinalLeaderboard';
import buildFinalLeaderboardItems from '../../utils/2324/buildFinalLeaderboardItems';
import { getPlayers } from '../../utils/2324/getPlayers';
import { getSeason } from '../../utils/2324/getSeason';
import ToPar from '../Shared/ToPar.astro';

const playersData = await getPlayers();
const data = await getFinalLeaderboard(year);
const season = await getSeason(year);
const allScorecards = data.data.flatMap((session) => session.scorecards);

  const finalLeaderboardItems = buildFinalLeaderboardItems(
    allScorecards as Scorecard[],
    playersData.data as Player[],
    season.data.winners_array
  );

---

<Layout title={`FINAL ${year} - Tisdagsgolfen`}>
  <header>
    <a href={`/${year}`}>
      &larr; Tillbaka
    </a>
    <h1>Final {year}</h1>
  </header>
  <main class="final">

  <table>
    <thead>
      <tr>
        <td>Rank</td>
        <td>Spelare</td>
        <td>+/-</td>
        <td>Bonus</td>
        <td>R1</td>
        <td>R2</td>
        <td>R3</td>
        <td class="total"><strong>TOTAL</strong></td>
      </tr>
    </thead>
    <tbody>
      {finalLeaderboardItems.map((item, index) => (
        <tr>
          <td>{item.rank}</td>
          <td>{item.player.full_name.split(" ")[0]}</td>
          <td>
            <ToPar to_par={item.to_par} /></td>
          <td>{item.start_points}</td>
          <td>{item.rounds[0]}</td>
          <td>{item.rounds[1]}</td>
          <td>{item.rounds[2]}</td>
          <td class="total"><strong>{item.points}</strong></td>
        </tr>
      ))}
    </tbody>
  </table>
  </main>
</Layout>

<style>
  header {
    padding: 8px;
    background: #008080;

    h1 {
      font-size: 18px;
      text-transform: uppercase;
      color: #fff
    }

    a {
      color: #eee;
      padding: 0 8px;
    }
  }

  main.final {
    padding: 16px;
    margin-bottom: 100px;
    background: #fff;
    h2 {
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 8px;
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  thead {
    color: #000;
    font-weight: bold;
    border-bottom: 2px solid #777;
  }

  tbody {
    color: #333;
  }

  td {
    padding: 8px 2px;
    border-bottom: 1px dashed #ccc;
  }

  td.total {
    text-align: right;
  }

  tbody td.total {
    font-size: 1.4em;
    color: #000;
  }
</style>
