---
import CourseRow from '../../components/CourseRow.astro';
import EventPillRow from '../../components/EventPillRow.astro';
import LiveLeaderboardHeader from '../../components/Leaderboard/LiveLeaderboardHeader.astro';
import LiveLederboardCard from '../../components/Leaderboard/LiveLederboardCard.astro';
import Row from '../../components/Row.astro';
import Layout from '../../layouts/Layout.astro';
import { getLeaderboard } from '../../utils/getLeaderboard';
import { getSession } from '../../utils/getSession';
import standardCompRank from '../../utils/standardCompetitionRanking';

const { id } = Astro.params;
const sessionId = parseInt(`${id}`, 10);
const data = await getSession(sessionId);
const session = data?.data as ScoringSession;
const course = session.course as Course;

const leaderboard = await getLeaderboard(
  course.id,
  session.special,
  session.team_event,
  session.strokes,
  session.part_of_final
);

const firstSession = leaderboard && leaderboard.data![0];
const scorecards = leaderboard.data!.flatMap((session) => session.scorecards);

const rankedScorecards = firstSession.strokes
  ? standardCompRank(scorecards, 'to_par')
  : standardCompRank(
      scorecards.map((s) => ({ ...s, to_par: s.through! * 2 - s.points! })),
      'to_par'
    );

// TODO - api route that marksAsDone
// const isComplete = scorecards.every((scorecard) => scorecard.through === course.holes_count);
---

<Layout title="LEDARTAVLA - Tisdagsgolfen">
  <header>
    <button type="button" onclick="javascript:history.back()">&larr;</button>
  </header>
  <main>
    <h2>Ledartavla</h2>
    <CourseRow course={course} />
    <Row>
      <span></span>
      <LiveLeaderboardHeader special={firstSession.special} />
    </Row>

    {
      rankedScorecards.map((scorecard) => (
        <LiveLederboardCard
          scorecard={scorecard as ScorecardWithRank}
          specialEvent={firstSession.special}
        />
      ))
    }

    <EventPillRow
      live
      special={firstSession.special}
      teamEvent={firstSession.team_event}
      strokes={firstSession.strokes}
      small
    />
  </main>
  <!-- <footer>
    {isKim && (
          // confirm - vill du verkligen spara och stänga?
          {!isComplete ? (
            <span>Väntar på rundor</span>
          ) : (
            <form action="/api/markdone">
              <input type="hidden" value={course.id} name="courseId" />
              <input type="hidden" value={session.special} name="special" />
              <input type="hidden" value={session.team_event} name="team_event" />
              <input type="hidden" value={session.strokes} name="strokes" />
              <input type="hidden" value={session.id} name="id" />
              <button type="submit" style={{backgroundColor: 'red'}}>KIM - STÄNG RUNDA</button>
            </form>

          )}
      )}
  </footer> -->
</Layout>
