---
import CourseRow from '../CourseRow.astro';
import EventPillRow from '../EventPillRow.astro';

export interface Props {
  event: TourEvent;
  year: SeasonYear;
}

const { event, year } = Astro.props;

const date = new Date(event.created_at as string).toLocaleDateString('sv-SE', {
  month: 'short',
  day: 'numeric',
});
---

<a href={`/${year}/events/${event.id}`}>
  <div class="header">
    <h2 class="date">{date}</h2>
    <EventPillRow
    special={event.special}
    teamEvent={event.team_event}
    strokes={event.strokes}
    small
    />
  </div>
  <CourseRow course={event.course} />
</a>

<style>
  .date {
    float: left;
    margin: 0;
  }
  .header {
    float: left;
    width: 100%;
  }
  a {
    float: left;
    width: calc(100% - 16px);
    padding: 16px 8px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    color: #333;
    text-decoration: none;
  }

  a:hover {
    background: #c7e0d9;
  }
</style>
